<!--<p>bai2</p>-->
<!--<app-pet></app-pet>-->
<!--<p>Bai 3</p>-->
<!--<app-product></app-product>-->
<!--<p>bai 4</p>-->
<!--<app-calculator></app-calculator>-->
<!--<p>bai 5</p>-->
<!--<app-color></app-color>-->
<!--<p>bai 6</p>-->
<!--<app-article></app-article>-->
<!--<p>bai card</p>-->
<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->
<p>bai progress</p>
<app-progress-bar [progress]="0"></app-progress-bar>
<p>bai rating</p>
<app-rating-bar></app-rating-bar>
<p>bai dem gio</p>
<app-countdown-timer></app-countdown-timer>
